{{ 'banner-product.css' | asset_url | stylesheet_tag }}

{% if section.settings.product != blank %}
  {% assign current_product = all_products[section.settings.product] %}
{% elsif section.settings.handle != blank %}
  {% assign current_product = all_products[section.settings.handle] %}
{% endif %}

<section class="product section">
  <div class="container">
    {%- if current_product == blank -%}
      <p>Product not found</p>
    {%- else -%}
      <div class="product__wrapper">
        <div class="product__gallery">
          <div class="product__thumbnails" role="tablist">
            {% for image in current_product.images limit: 5 %}
              <button
                class="product__thumb {% if forloop.first %}product__thumb--active{% endif %}"
                aria-label="Change main product photo to photo {{ forloop.index }}"
                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                data-image="{{ image | image_url: width: 536 }}"
              >
                <img
                  class="product__thumb-img product__img--mini"
                  width="88"
                  height="88"
                  src="{{ image | image_url: width: 88, height: 88 }}"
                  alt="{% if image.alt != blank %}{{ image.alt }}{% elsif current_product.title != blank %}{{ current_product.title }} photo {{ forloop.index }}{% else %}Product photo {{ forloop.index }}{% endif %}"
                >
              </button>
            {% endfor %}
          </div>

          <div class="product__main">
            {% comment %}
              <div class="product__badge">
               <img
                  class="product__badge-img"
                  src="images/icons/starIcon.svg"
                  alt="star icon"
                />
                <span class="product__badge-text text-medium"
                  >Highly Rated</span
                >
              </div>
            {% endcomment %}
            {%- if current_product.featured_image -%}
              <img
                class="product__image"
                src="{{ current_product.featured_image | image_url: width: 536, height: 536 }}"
                width="536"
                height="536"
                alt="{{ current_product.featured_image.alt | default: current_product.title | default: 'Фото товару' }}"
              >
            {%- else -%}
              <img
                class="product__image"
                width="536"
                height="536"
                src="{{ 'placeholder.svg' | image_url: width: 536, height: 536 }}"
                alt="{{ current_product.title | default: 'Фото товару' }}"
              >
            {%- endif -%}
          </div>
        </div>

        <div class="product__info">
          <div class="product__text-inner">
            <h2 class="product__title title-small">{{ current_product.title | escape }}</h2>
            {% if current_product.price != blank %}
              <p class="product__price text-large">
                {%- capture price_block -%}
                        {%- if current_product.compare_at_price > current_product.price -%}
                          <span class="price-sale">{{ current_product.price | money_without_trailing_zeros }}</span>
                          <span class="price-old">{{ current_product.compare_at_price | money_without_trailing_zeros }}</span>
                        {%- else -%}
                          <span class="price">{{ current_product.price | money }}</span>
                        {%- endif -%}
                      {%- endcapture -%}
                {{ price_block }}
              </p>
            {% endif %}
          </div>

          {%- assign color_index = -1 -%}
          {%- for option in current_product.options -%}
            {%- assign opt_down = option | downcase -%}
            {%- if opt_down contains 'color'
              or opt_down contains 'colour'
              or opt_down contains 'цвет'
              or opt_down contains 'колір'
            -%}
              {%- assign color_index = forloop.index0 -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if color_index != -1 -%}
            <div
              class="product__colors"
            >
              {{ 'product.banner.select_color' | t: default: 'Оберіть колір' }}
              {%- for variant in current_product.variants limit: 3 -%}
                {%- assign color_value = variant.options[color_index] -%}
                {%- assign image = variant.featured_image -%}

                <img
                  class="product__color product__img--mini{% if forloop.first %} product__color--active{% endif %}"
                  src="{{ image | image_url: width: 88, height: 88 }}"
                  width="88"
                  height="88"
                  alt="{% if image.alt != blank %}{{ image.alt }}{% elsif current_product.title != blank %}{{ current_product.title }}{% else %}Color option{% endif %}"
                  data-color="{{- color_value | escape -}}"
                  data-variant-id="{{- variant.id -}}"
                  data-message="
                    {%- if variant.inventory_quantity > 0 -%}
                     {{ 'product.banner.available_with_count' | t: count: variant.inventory_quantity | default: 'Доступно: %count%' | replace: '%count%', variant.inventory_quantity }}
                    {%- else -%}
                      {{- 'product.banner.not_available' | t: default: 'Не доступно' -}}
                    {%- endif -%}
                  "
                  data-available="{{ variant.available }}"
                  role="button"
                  aria-label="Set product color to {{ color_value }}"
                >
              {%- endfor -%}
            </div>
          {%- else -%}
            <p>No color option found for this product.</p>
          {%- endif -%}

          <div class="product__size-inner">
            <p class="product__size-text text-medium">Select Size:</p>
            <div class="product__sizes">
              <button class="product__size product__size--active btn">UK 5.5</button>
              <button class="product__size btn">UK 6 (EU 39)</button>
              <button class="product__size btn">UK 6 (EU 40)</button>
              <button class="product__size btn">UK 6.5</button>
              <button class="product__size btn">UK 7</button>
              <button class="product__size btn">UK 7.5</button>
            </div>
          </div>

          <button class="product__btn btn btn-dark">Add To Bag</button>

          <p class="product__desc text-medium">
            {{- current_product.description | default: 'Для цього товару відсутній опис' | escape -}}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
<script>
  document.querySelectorAll('.product__colors .product__img--mini').forEach((btn) => {
    btn.addEventListener('click', () => {
      alert(btn.dataset.message);
    });
  });
</script>

{% schema %}
{
  "name": "Banner Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    },
    {
      "type": "text",
      "id": "handle",
      "label": "Or enter product handle",
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Banner product"
    }
  ]
}
{% endschema %}

{% comment %}
  <script type="application/json" id="VariantInventory-{{ product.id }}">
  {
    {%- for v in product.variants -%}
      "{{ v.id }}": {
        "available": {{ v.available | json }},
        "inventory_quantity": {{ v.inventory_quantity | default: 0 | json }},
        "sku": {{ v.sku | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  }
  </script>
{% endcomment %}
