{{ 'banner-product.css' | asset_url | stylesheet_tag }}




{% if section.settings.product != blank %}
  {% assign current_product = all_products[section.settings.product] %}
{% elsif section.settings.handle != blank %}
  {% assign current_product = all_products[section.settings.handle] %}
{% endif %}

 <section class="product section">
        <div class="container">
{% if current_product == blank %}
  <p>Product not found</p>
{% else %}

          <div class="product__wrapper">
            <div class="product__gallery">
              <div class="product__thumbnails" role="tablist">
                <button
                  class="product__thumb product__thumb--active"
                  aria-label="change main product photo to photo 1"
                  aria-selected="true"
                >
                  <img
                    class="product__thumb-img product__img--mini"
                    src="images/products/nike_air_max_plus/color1-1.jpg"
                    alt="white Nike Air Max Plus photo 1"
                  />
                </button>
                <button
                  class="product__thumb"
                  aria-label="change main product photo to photo 2"
                  aria-selected="false"
                >
                  <img
                    class="product__thumb-img product__img--mini"
                    src="images/products/nike_air_max_plus/color1-2.jpg"
                    alt="white Nike Air Max Plus photo 2"
                  />
                </button>
                <button
                  class="product__thumb"
                  aria-label="change main product photo to photo 3"
                  aria-selected="false"
                >
                  <img
                    class="product__thumb-img product__img--mini"
                    src="images/products/nike_air_max_plus/color1-3.jpg"
                    alt="white Nike Air Max Plus photo 3"
                  />
                </button>
                <button
                  class="product__thumb"
                  aria-label="change main product photo to photo 4"
                  aria-selected="false"
                >
                  <img
                    class="product__thumb-img product__img--mini"
                    src="images/products/nike_air_max_plus/color1-4.jpg"
                    alt="white Nike Air Max Plus photo 4"
                  />
                </button>
                <button
                  class="product__thumb"
                  aria-label="change main product photo to photo 5"
                  aria-selected="false"
                >
                  <img
                    class="product__thumb-img product__img--mini"
                    src="images/products/nike_air_max_plus/color1-5.jpg"
                    alt="white Nike Air Max Plus photo 5"
                  />
                </button>
              </div>

              <div class="product__main">
                <div class="product__badge">
                  <img
                    class="product__badge-img"
                    src="images/icons/starIcon.svg"
                    alt="star icon"
                  />
                  <span class="product__badge-text text-medium"
                    >Highly Rated</span
                  >
                </div>
                <img
                  class="product__image"
                  src="images/products/nike_air_max_plus/color1-1.jpg"
                  alt="white Nike Air Max Plus photo 1"
                />
              </div>
            </div>

            <div class="product__info">
              <div class="product__text-inner">
                <h2 class="product__title title-small">{{ current_product.title | escape }}</h2>
                <p class="product__price text-large" data-price="$280.00">
                  $280.00
                </p>
              </div>

          {% assign color_index = -1 %}
            {% for option in current_product.options %}
              {% assign opt_down = option | downcase %}
              {% if opt_down contains 'color' or opt_down contains 'colour' or opt_down contains 'цвет' or opt_down contains 'колір' %}
                {% assign color_index = forloop.index0 %}
              {% endif %}
            {% endfor %}

          {% if color_index != -1 %}
            <div class="product__colors">
              {% for variant in current_product.variants limit:3 %}
                {% assign color_value = variant.options[color_index] %}
                {% assign image = variant.featured_image %}
                
                <img 
                  class="product__color product__img--mini{% if forloop.first %} product__color--active{% endif %}"
                  src="{{ image | image_url: width: 88, height: 88 }}"
                  width="88",
                  height="88"
                  alt="{% if image.alt != blank %}{{ image.alt }}{% elsif current_product.title != blank %}{{ current_product.title }}{% else %}Color option{% endif %}"
                  data-color="{{ color_value | escape }}"
                  data-variant-id="{{ variant.id }}"
                  data-qty="{{ variant.inventory_quantity | default: 0 }}"
                  data-available="{{ variant.available }}"
                  role="button"
                  aria-label="Set product color to {{ color_value }}"
                />
              {% endfor %}
            </div>
          {% else %}
            <p>No color option found for this product.</p>
          {% endif %}

              <div class="product__size-inner">
                <p class="product__size-text text-medium">Select Size:</p>
                <div class="product__sizes">
                  <button class="product__size product__size--active btn">
                    UK 5.5
                  </button>
                  <button class="product__size btn">UK 6 (EU 39)</button>
                  <button class="product__size btn">UK 6 (EU 40)</button>
                  <button class="product__size btn">UK 6.5</button>
                  <button class="product__size btn">UK 7</button>
                  <button class="product__size btn">UK 7.5</button>
                </div>
              </div>

              <button class="product__btn btn btn-dark">Add To Bag</button>

              <p class="product__desc text-medium">
                {{ current_product.description | escape }}
              </p>
            </div>
          </div>
    
{% endif %}
    </div>
</section>



{% comment %} 

{% if current_product == blank %}
  <p>No product selected</p>
{% else %}
  <div class="banner-product">
    {%- if current_product.featured_image -%}
      {{ current_product.featured_image | image_url: width: 600 | image_tag: alt: current_product.featured_image.alt | default: current_product.title }}
    {%- else -%}
      <img width="600" height="600" src="{{ 'placeholder.svg' | asset_url }}" alt="{{ current_product.title }}">
    {%- endif -%}

    <h3>{{ current_product.title | escape }}</h3>

    {% capture price_block %}
      {% if current_product.compare_at_price > current_product.price %}
        <span class="price-sale">{{ current_product.price | money }}</span>
        <span class="price-old">{{ current_product.compare_at_price | money }}</span>
      {% else %}
        <span class="price">{{ current_product.price | money }}</span>
      {% endif %}
    {% endcapture %}
    {{ price_block }}

    {% assign color_index = -1 %}
    {% for option in current_product.options %}
      {% assign option_downcase = option | downcase %}
      {% if option_downcase contains 'color' %}
        {% assign color_index = forloop.index0 %}
      {% endif %}
    {% endfor %}


    {% if color_index != -1 %}
      <div class="color-swatches">
        {% for variant in current_product.variants limit:3 %}
          <button 
            data-variant-id="{{ variant.id }}" 
            data-qty="{{ variant.inventory_quantity | default: 0 }}" 
            data-available="{{ variant.available }}">
            {{ variant.options[color_index] }}
          </button>
        {% endfor %}
      </div>
    {% else %}
      <p>No color options</p>
    {% endif %}
  </div>
{% endif %}


<script>
document.querySelectorAll('.color-swatches button').forEach(btn => {
  btn.addEventListener('click', () => {
    const qty = btn.dataset.qty;
    alert(qty == 0 ? "Не доступно" : `Доступно: ${qty}`);
  });
});
</script> {% endcomment %}

{% schema %}
{
  "name": "Banner Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    },
    {
      "type": "text",
      "id": "handle",
      "label": "Or enter product handle",
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Banner product"
    }
  ]
}
{% endschema %}
