{{ 'designers.css' | asset_url | stylesheet_tag }}

<section class="designers">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="designers__title">
        {{ section.settings.title }}
      </h2>
    {% endif %}

    {% assign featured_collection = collections[section.settings.featured_collection] %}
    {% assign designers = featured_collection.metafields.custom.designer.value %}

    <ul class="designers__grid list-none p-0 m-0">
      {% for designer in designers %}
        <li class="designer-card">
          {% if designer.photo.value != blank %}
            {% assign alt_photo = 'Фото: ' | append: designer.name %}
            {{
              designer.photo.value
              | image_url: width: 1400, height: 1000
              | image_tag:
                class: 'designer-photo',
                alt: alt_photo,
                widths: '300, 450, 600, 700, 900, 1200, 1400',
                sizes: '(min-width: 1400px) 420px, (min-width: 1024px)
              calc((100vw - 130px) / 3), (min-width: 767px) calc((100vw - 100px) / 2), calc(100vw - 65px)',
                loading: 'lazy'
            }}
          {% endif %}

          <h3 class="designer-name">{{ designer.name }}</h3>
          <p class="designer-role">{{ designer.role }}</p>
          <p class="designer-bio">{{ designer.bio }}</p>

          <ul class="designer-tags list-none p-0" aria-label="Tags for {{ designer.name }}">
            {% for tag in designer.tags.value %}
              <li class="tag">{{ tag }}</li>
            {% endfor %}
          </ul>

          <div class="designer-links">
            {% for link in designer.portfolio_links.value %}
              <a
                href="{{ link }}"
                class="focus-visible:ring-2! focus-visible:ring-primary!"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Portfolio link for {{ designer.name }} (opens in a new tab)"
              >
                {{- link | truncate: 30 -}}
                <span aria-hidden="true">↗</span>
              </a>
            {% endfor %}
          </div>

          <p class="designer-date">Born: {{ designer.birth_date | date: '%B %d, %Y' }}</p>

          {% if designer.verified %}
            <span class="verified" role="img" aria-label="Verified Designer">
              <span aria-hidden="true">✅</span> Verified Designer
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Designers Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Заголовок секції",
      "default": "Our Designers"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Виберіть колекцію дизайнерів"
    }
  ],
  "presets": [{ "name": "Designers" }]
}
{% endschema %}
